# MongoDB
MONGODB_URI=mongodb://mongo:27017/marinheiros

# RabbitMQ
RABBITMQ_URL=amqp://rabbitmq:5672

# Service URLs (for gateway)
SAILOR_SERVICE_URL=http://sailor-service:3001/sailors
SCHEDULE_SERVICE_URL=http://schedule-service:3002/schedules
